@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #c9e8fa, #89c6ff);
}

header {
  background: #ffffff;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50px;
  height: auto;
}

.header-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#map {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  border-radius: 10px;
  border: 2px solid #007bff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

nav .btn {
  font-size: 1.1rem;
  border-radius: 25px;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav .btn:hover {
  background-color: #0461c5;
  transform: translateY(-2px);
}

#info-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 2rem 0;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.info-box h2 {
  z-index: 1; /* Garantir que o nome está acima dos outros elementos */
  position: relative;
}

.info-box p {
  margin: 5px 0;
}

.chart {
  width: 100%;
  max-width: 200px;
  height: 200px;
  margin-top: 1rem;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 30vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 0;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
}

